@import 'rkt-colors.less';

/*
  xss - extra extra small
  xs - extra small
  sm - small
  md - medium
  lg - large
  xl - extra large
*/

// Font Weight
@rkt-font-weight-regular: 400;
@rkt-font-weight-medium: 500;
@rkt-font-weight-semibold: 600;
@rkt-font-weight-bold: 700;

// Headings
@rkt-heading-1-size: 40px;
@rkt-heading-2-size: 32px;
@rkt-heading-3-size: 28px;
@rkt-heading-4-size: 24px;
@rkt-heading-5-size: 20px;
@rkt-heading-6-size: 18px;

// Line Height
@rkt-line-height-xss: 1.0;
@rkt-line-height-sm: 1.15;
@rkt-line-height-md: 1.35;
@rkt-line-height-lg: 1.55;
@rkt-line-height-xl: 1.75;

// Border Radius
@rkt-border-radius-sm: 4px;
@rkt-border-radius-md: 8px;
@rkt-border-radius-lg: 12px;
@rkt-border-radius-xl: 16px;
@rkt-border-radius-xll: 20px;

// Shadows
@rkt-shadow-1: 0 0 4px fade(@rkt-dark-gray-9, 16%);
@rkt-shadow-2: 0 0 8px fade(@rkt-dark-gray-9, 16%);
@rkt-shadow-3: 0 0 12px fade(@rkt-dark-gray-9, 16%);
@rkt-shadow-4: 0 0 16px fade(@rkt-dark-gray-9, 16%);
@rkt-shadow-5: 0 0 20px fade(@rkt-dark-gray-9, 16%);
@rkt-shadow-6: 0 0 24px fade(@rkt-dark-gray-9, 16%);
@rkt-shadow-7: 0 0 32px fade(@rkt-dark-gray-9, 4%);
@rkt-shadow-8: 0 0 32px fade(@rkt-dark-gray-9, 16%);
@rkt-shadow-9: 0 0 48px fade(@rkt-dark-gray-9, 32%);

// Paddings
@rkt-padding-lg: 24px; // containers
@rkt-padding-md: 16px; // small containers and buttons
@rkt-padding-sm: 12px; // Form controls and items
@rkt-padding-xs: 8px; // small items
@rkt-padding-xss: 4px; // more small

// Border Width
@rkt-border-width-sm: 1px;
@rkt-border-width-md: 2px;
@rkt-border-width-lg: 3px;