@import 'rkt-variables.less';
@import 'rkt-colors.less';

// @success-color: #52c41a; // success state color
// @warning-color: #faad14; // warning state color
// @error-color: #f5222d; // error state color

// General
@heading-color: @black; // heading text color
@text-color: @black; // major text color
@text-color-secondary: @rkt-dark-gray-1; // secondary text color

// Box Shadow
@box-shadow-base: @rkt-shadow-4; // major shadow for layers

// Font size
@font-size-base: 14px;
@font-size-lg: @font-size-base + 2px;
@font-size-sm: 12px;

// White and Black
@white: #FFFFFF;
@black: #0F1114;

// Blue scale
@blue-base: @rkt-blue-6;
@blue-1: @rkt-blue-1;
@blue-2: @rkt-blue-2;
@blue-3: @rkt-blue-3;
@blue-4: @rkt-blue-4;
@blue-5: @rkt-blue-5;
@blue-6: @rkt-blue-6;
@blue-7: @rkt-blue-7;
@blue-8: @rkt-blue-8;
@blue-9: @rkt-blue-9;
@blue-10: @rkt-blue-10;

// Red scale
@red-1: @rkt-red-1;
@red-2: @rkt-red-2;
@red-3: @rkt-red-3;
@red-4: @rkt-red-4;
@red-5: @rkt-red-5;
@red-6: @rkt-red-6;
@red-7: @rkt-red-7;
@red-8: @rkt-red-8;
@red-9: @rkt-red-9;
@red-10: @rkt-red-10;

// Green base
@green-base: #10C971;

@green-1: #E9FBEE;
@green-2: #CAF5D6;
@green-3: #A0EDB7;
@green-4: #82E09E;
@green-5: #6BD38A;
@green-6: #10C971;
@green-7: #0DA55D;
@green-8: #0C8D4F;
@green-9: #0B7443;
@green-10: #095D35;

// Orange base
@orange-base: #FF8B0D;

@orange-1: #FFF2E8;
@orange-2: #FDDFBE;
@orange-3: #F6C48F;
@orange-4: #F5B168;
@orange-5: #F8A44B;
@orange-6: #FF8B0D;
@orange-7: #E68013;
@orange-8: #D37612;
@orange-9: #C36E13;
@orange-10: #A75E11;

// Contextos
@error-color: @red-6;
@warning-color: @orange-6;

@btn-font-weight: @rkt-font-weight-medium;
@select-item-selected-font-weight: @rkt-font-weight-semibold;
@badge-font-weight: @rkt-font-weight-semibold;
@pagination-font-weight-active: @rkt-font-weight-semibold;
@typography-title-font-weight: @rkt-font-weight-medium;

// Headings
@heading-1-size: @rkt-heading-1-size;
@heading-2-size: @rkt-heading-2-size;
@heading-3-size: @rkt-heading-3-size;
@heading-4-size: @rkt-heading-4-size;
@heading-5-size: @rkt-heading-5-size;

// Border
@border-color-base: @rkt-gray-2; // base border outline a component
@border-color-split: @rkt-gray-2; // split border inside a component
@border-width-base: 1px; // width of the border for a component
@border-style-base: solid; // style of a components border

// Placeholder
@input-placeholder-color: @rkt-dark-gray-1;

// Disabled Colors
@disabled-color: @rkt-gray-5;
@disabled-bg: @rkt-gray-2;
@disabled-active-bg: @rkt-gray-2;

// Height
@height-sm: 32px;
@height-base: 40px;
@height-lg: 48px;

// Line Height
@line-height-base: @rkt-line-height-md;

// Border Radius
@border-radius-base: @rkt-border-radius-sm;

@border-radius-sm: @rkt-border-radius-sm;

// Border Radius dos componentes
@btn-border-radius-base: @rkt-border-radius-md;
@btn-border-radius-sm: @rkt-border-radius-md;
@checkbox-border-radius: @rkt-border-radius-sm;
@collapse-panel-border-radius: @rkt-border-radius-md;
@table-border-radius-base: @rkt-border-radius-md;
@card-radius: @rkt-border-radius-lg;
@avatar-border-radius: @rkt-border-radius-md;

// Shadows
@btn-shadow: 0 0 0 0;
@btn-primary-shadow: 0 0 0 0;

// Paddings
@padding-lg: @rkt-padding-lg;
@padding-md: @rkt-padding-md;
@padding-sm: @rkt-padding-sm;
@padding-xs: @rkt-padding-xs;
@padding-xss: @rkt-padding-xss;

// BTN PADDING
@btn-padding-horizontal-base: @rkt-padding-sm;
@btn-padding-horizontal-lg: @rkt-padding-sm;
@btn-padding-horizontal-sm: @rkt-padding-sm;

// BTN Default button colors
@btn-default-color: @rkt-blue-6;
@btn-default-bg: @white;
@btn-default-border: @rkt-blue-2;

// BTN Default button border size
@btn-border-width: @rkt-border-width-md;

// BTN default button line-height
@btn-line-height: @rkt-line-height-xss;
