// @success-color: #52c41a; // success state color
// @warning-color: #faad14; // warning state color
// @error-color: #f5222d; // error state color

// General
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.85); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 8px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers
@line-height-base: @rkt-line-height-medium;

// @background-color-base: rgba(255,0,0,.50);
// @disabled-color: blue;

// Font size
@font-size-base: 14px;
@font-size-lg: @font-size-base + 2px;
@font-size-sm: 12px;

// White and Black
@white: #FFFFFF;
@black: #0F1114;

// Blue scale
@blue-base: #3D86F2;
@blue-1: #E8F1FF;
@blue-2: #DAE9FE;
@blue-3: #C3D9FA;
@blue-4: #8AB6F7;
@blue-5: #73A9FA;
@blue-6: #3D86F2;
@blue-7: #2877ED;
@blue-8: #1C6FEB;
@blue-9: #1667E0;
@blue-10: #145ECC;

// Green base
@green-base: #10C971;

@green-1: #E9FBEE;
@green-2: #CAF5D6;
@green-3: #A0EDB7;
@green-4: #82E09E;
@green-5: #6BD38A;
@green-6: #10C971;
@green-7: #0DA55D;
@green-8: #0C8D4F;
@green-9: #0B7443;
@green-10: #095D35;

// Orange base
@orange-base: #FF8B0D;

@orange-1: #FFF2E8;
@orange-2: #FDDFBE;
@orange-3: #F6C48F;
@orange-4: #F5B168;
@orange-5: #F8A44B;
@orange-6: #FF8B0D;
@orange-7: #E68013;
@orange-8: #D37612;
@orange-9: #C36E13;
@orange-10: #A75E11;

// Red base
@red-base: #ED515E;

@red-1: #FFF0F0;
@red-2: #FEC8CB;
@red-3: #F79EA3;
@red-4: #F57279;
@red-5: #F84650;
@red-6: #F0242F;
@red-7: #DE121E;
@red-8: #C4111B;
@red-9: #B0111A;
@red-10: #9E1017;

// Contextos
@error-color: @red-6;
@warning-color: @orange-6;

@btn-font-weight: @rkt-font-weight-medium;
@select-item-selected-font-weight: @rkt-font-weight-semibold;
@badge-font-weight: @rkt-font-weight-semibold;
@pagination-font-weight-active: @rkt-font-weight-semibold;
@typography-title-font-weight: @rkt-font-weight-medium;

// Headings
@heading-1-size: @rkt-heading-1-size;
@heading-2-size: @rkt-heading-2-size;
@heading-3-size: @rkt-heading-3-size;
@heading-4-size: @rkt-heading-4-size;
@heading-5-size: @rkt-heading-5-size;

// Border
@border-color-base: @rkt-gray-2; // base border outline a component
@border-color-split: @rkt-gray-2; // split border inside a component
@border-width-base: 1px; // width of the border for a component
@border-style-base: solid; // style of a components border

// Personalizados

@rkt-font-weight-regular: 400;
@rkt-font-weight-medium: 500;
@rkt-font-weight-semibold: 600;
@rkt-font-weight-bold: 700;

@rkt-line-height-tiny: 1.0;
@rkt-line-height-small: 1.15;
@rkt-line-height-medium: 1.35;
@rkt-line-height-large: 1.55;
@rkt-line-height-xlarge: 1.75;

@rkt-heading-1-size: 40px;
@rkt-heading-2-size: 32px;
@rkt-heading-3-size: 28px;
@rkt-heading-4-size: 24px;
@rkt-heading-5-size: 20px;
@rkt-heading-6-size: 18px;

@rkt-gray-1: #F8FAFC;
@rkt-gray-2: #E5EAF0;
@rkt-gray-3: #D0D5DD;
@rkt-gray-4: #B8BFCC;
@rkt-gray-5: #ABB4C2;
@rkt-gray-6: #99A5B5;
@rkt-gray-7: #8997AA;
@rkt-gray-8: #8391A5;
@rkt-gray-9: #7D8BA1;
@rkt-gray-10: #77869C;

@rkt-dark-gray-1: #67778E;
@rkt-dark-gray-2: #637288;
@rkt-dark-gray-3: #566476;
@rkt-dark-gray-4: #515E70;
@rkt-dark-gray-5: #4D596A;
@rkt-dark-gray-6: #404A59;
@rkt-dark-gray-7: #3C4553;
@rkt-dark-gray-8: #38404D;
@rkt-dark-gray-9: #2B313B;
@rkt-dark-gray-10: #272D35;
